.lila{
  background-color: #62639A;

}

.naranja{
  background-color: #FF9B21;
}

.floatleft{
  float: left;
}

#fullwidth{
  width: 100%;
  margin-bottom: 7%;
}

#primer, #segundo, #tercero, #cuarto{
  width: 25%;
}

.dentrodecuadro{
  padding-left: 5%;
  padding-right: 5%;
}

.imagendecuadro{
  width: 15%;
  float: left;
}

iframe{
  width: 100%;
}

#horari{
  width: 100%;
  height: auto;
}
