#psswd{
    color:red;
    font-weight:bold;
}

#imputpsswd{
    color: #434343;
    border-color: #FF9B21;
}

#submit{
    background-color: #FF9B21;
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;
}

#exit{
    color:green;
}

#login_h1{
    left: 1px;
    margin-left: 14px;
    margin-top: 5%;
    margin-bottom: 2%;
    position: relative;
    transform: none;
    font-family: 'Open Sans', sans-serif;
}

#restricted{
    margin-left: 40%;
    margin-top: 5%;
}

#admin th{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #62639A;
    color: white;
}

#admin tr:nth-child(even){background-color: #B0B1CC;}

#admin tr:hover {background-color: #7475a5;}