footer {
	border-top: 1px solid grey;
	width: 100%;
	background-color: #62639a;
	color: white;
	padding-bottom: 1%;
}

footer ul li{
	margin: none;
	list-style: none;

}

footer ul li a{
	text-decoration: none;
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	color: white;
}
#copyright{
	font-size: 10px;
	margin-top: 20px;
	margin-left: 85%;
	font-family: 'Open Sans', sans-serif;
}

.footer-menu{
	float:left;
	width:20%;
}

