input {
    padding:10px 10px;
    margin: 7px;
    border:1px solid #fc8805;
    border-radius:5px;
    box-shadow: 0 0 5px #fc8805 inset;
    width:328px; 
    font-size:1em;
    outline:0;
    font-family: 'Open Sans', sans-serif;
}
input:focus {
    border:1px solid #FF9B21; /*#b9d4e9*/
    border-top-color:#b6d5ea; /*#b6d5ea*/
    border-bottom-color:#b8d4ea; /*#b8d4ea*/
    box-shadow:0 0 5px #FF9B21;
}

.submit_matricula {
    font-family: 'Open Sans', sans-serif;
    background: -moz-linear-gradient(top, #FF9B21 0%, #FF9B21 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF9B21), color-stop(100%,#FF9B21)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FF9B21 0%,#FF9B21 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FF9B21 0%,#FF9B21 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #FF9B21 0%,#FF9B21 100%); /* IE10+ */
    background: linear-gradient(top, #FF9B21 0%,#FF9B21 100%); /* W3C */
    border:1px solid ##FF9B21;
    border-top-color:#FF9B21;
    border-bottom-color:#FF9B21;
    color:#fff;
    text-shadow:0 1px 0 #1e3c5e;
    font-size:.875em;
    padding:8px 15px;
    width:150px;
    border-radius:20px;
    box-shadow:0 1px 0 #bbb, 0 1px 0 #FF9B21 inset;
}

#submitform{
    background-color: rgba(176, 177, 204, 0.8);
    border-color: #62639A;
    box-shadow:0 0 5px #62639A;
    font-size: 20px;
    font-weight: bold;
}