.bg-iam{
  background-color: #62639A;
}

.nav ul{
  list-style-type: none;
}

.nav-lg{
  width: 100%;
}

.nav div a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 2%;;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.sections a:hover {
    background-color: #666;
}

.logo{
  float: left;
  width:20%;
}