a{
 color:#FF9B21;
}

#calendari{
  width: 35%;
}

#calendari td{
  font-size: 20px;
}

#calendari td,th{
  text-align: center;
  width: 14%;
  font-family: 'Open Sans', sans-serif;
  user-select: none;
}

#calendari td:hover{
  background-color: #62639A;
  color: white;
}

#hora{
  width: 95%;
  margin-left: 5%;
}

#hora td{
  text-align: center;
}

#hora td:hover{
  background-color: #62639A;
  color: white;
}

#data{
  background-color:rgba(98, 99, 154,0.5);
}

td, .pasado{
  padding: 5%;
}

.pasado{
  font-weight: normal;
  color: #7F7F7F;
  border: 1px solid #B0B1CC;
}

.pasado:hover{
  border: 1px dashed #B0B1CC;
  color: red;
  font-weight: bold;
}

.finde{
  border: 1px dashed #B0B1CC;
  color: red;
  padding: 5%;
}

#mes{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 20px;
}

#fuente{
  font-family: 'Open Sans', sans-serif;
  background-color: #62639A;
  color: white;
  text-align: center;
}

#prevmes, #proxmes{
  font-family: 'Open Sans', sans-serif;
  background-color: #FF9B21;
  padding: 5px 15px;
  text-align: center;
  border: 3px ridge #f28202;
  font-weight: bold;
  color: white;
  font-size: 25px;
}

#mat{
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

#infomat{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.prmes{
  pointer-events: none;
  opacity: 0.5;
}

#submitcalendar{
  font-family: 'Open Sans', sans-serif;
  background-color: #FF9B21;
  padding: 5px 15px;
  text-align: center;
  border: 3px ridge #f28202;
  font-weight: bold;
  color: white;
  font-size: 25px;
  margin-left: 45%;
}

#taulahores{
  width: 55%;
  font-size: 18px;
  margin-left: 17%;
}

#taulahores td{
  user-select: none;
  text-align: center;
}

#divhora{
  background-color: #B0B1CC;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 2%;
}