body{
	margin: 0;
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
}

.logo-s{
  width: 60%;
}

.gestionar{
	text-align: center;
	margin-top: 5%;
	margin-bottom: 15%;
}

#info-matr{
	margin: auto;
	width: 50%;
	border: 2px solid #62639A;
    padding: 10px;
    text-align:center;
	background-color: #B0B1CC;
	font-weight: bold;
}

#admin{
	width: 100%;
}

#admin td{
	padding: 1%;
	text-align: center;
}
