<footer>
				<div id="menu-footer">
					<ul class="footer-menu">
						<li><a href="index.php">Inici</a></li>
						<li><a href="about.php">Sobre Nosaltres</a></li>
					</ul>
				</div>
				<div id="copyright">
					<p>Copyright©</p>
					<p>Designed by Grup4</p>
				</div>

</footer>

<!--------------------------------------------------------------------------------------->


</body>

</html>
